body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    position: absolute;
    top: 8px;
    left: 16px;
}

.search-field {
      position: absolute;
      top: 16px;
      right: 16px;
}

.sort-by-form {
    position: absolute;
    top: 80px;
    right: 26px;
}

header input[type="text"] {
    width: 300px;
    padding: 8px;
}

header button {
    padding: 8px 16px;
    cursor: pointer;
}

main {
    display: flex;
    position: relative;
    top: 80px;
    justify-content:space-around;
}

#post-container-div {
    width: 380px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    height: 14rem;
    overflow: hidden;
}
a {
    color: black;
    text-decoration: none;
}
.aside-blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.filter-div {
    border: 1px solid black;
    width: 220px;
    overflow-y: scroll;
    max-height: 230px;
}