<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New/Edit Post</title>
    <link rel="stylesheet" th:href="@{/css/newPost.css}">
</head>
<body>
<h1>New/Edit Post</h1>
<form th:action="@{/savepost}" th:object="${post}" method="POST">
    <input type="hidden" name="postId" th:if="${post}" th:field="*{id}" />
    <input class="field-input" type="text" name="title" th:field="*{title}" placeholder="Title">
    <br><br>
    <input class="field-input" type="text" name="tagList" placeholder="Tags" th:value="${post != null} ? ${tagsList} : '' ">
    <br><br>
    <textarea class="field-input" rows="15" th:field="*{content}" placeholder="Content" th:text="${post != null} ? ${post.content} : ''"></textarea>
    <br><br>
    <input class="btn" type="submit" th:value="${post.id != null} ? 'Update' : 'Publish'" name="action">
</form>
</body>
</html>
