<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/showSinglePost.css}">
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <h2><a th:href="@{/}">My Blog Application</a></h2>
            </div>
        </header>
        <main id="articles-container" class="articles-container">
            <h3 th:value="${post.title}" th:text="${post.title}"/>
            <strong>Author : <span th:text="${post.author.name}"/></strong>
            <p th:text="${post.content}"/>

            <p>Tags:
                <span th:each="tag : ${post.tags}" th:text="${tag.name} + ', ' "  />
            </p>

            <form th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''AUTHOR'')') and #authentication.principal.username eq post.author.name}"
                    th:action="@{'/editpost/post' + ${post.id}}"
                  method="post">
                <button type="submit">Edit Post</button>
            </form>
            <br>
            <form th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''AUTHOR'')') and #authentication.principal.username eq post.author.name}"
                  th:action="@{'/deletepost/post' + ${post.id}}"
                  sec:authorize="hasAnyRole('AUTHOR','ADMIN')"
                  method="post">
                <button type="submit">Delete Post</button>
            </form>
            <br>
            <div>
                <form th:action="@{'/postcomment/post' + ${post.id}}" th:object="${comment}" method="post">
                    Name : <input type="text" th:value="${commentName}" name="commentName" required>
                    Email : <input type="email" th:value="${commentEmail}" name="commentEmail" required>
                    comment : <input type="text" th:value="${commentContent}" name="commentContent" required>
                    <input type="hidden" name="commentId" th:value="${commentId}">
                    <input type="submit" name="action" value="Comment">
                </form>
            </div>
            <div>
                <div th:each="comment : ${post.getComments()}">
                    <span><strong th:text="${comment.getName()}"/></span>
                    <span th:text="${comment.getComment()}"/>
                    <form th:action="@{'/updatecomment/comment' + ${comment.id}}"
                          th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''AUTHOR'')') and #authentication.principal.username eq post.author.name}"
                          th:object="${comment}"
                          method="post">
                        <button type="submit" name="action">Update Comment</button>
                    </form>
                    <form th:action="@{'/deletecomment/comment' + ${comment.id}}"
                          th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''AUTHOR'')') and #authentication.principal.username eq post.author.name}"
                          th:object="${comment}"
                          method="post">
                        <button type="submit" name="action">Delete Comment</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>